* {
  box-sizing: border-box;
}

header {
  padding: 50px;
  margin: 20px;

  color: hsl(0, 0%, 100%);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d1d5db;


  background-image: url("Images/Waves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;




}

body {
  background-color: #0b1f3a; 
  color: white; 
}

a {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #2563eb;
}

h1 {
  text-transform: uppercase;
}

.row1 {
  display: flex;
  gap: 50px;
  flex-basis: 30px;
  justify-content: center;
  align-items: flex-start;


}
h2{
  color: hsl(0, 0%, 100%);
}
.container
{
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
}